@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la aplicación</h1>

    <!--<i class="fas fa-info-circle"></i>-->
    <h3>Información importante antes de navegar por la aplicación</h3>
    <br />
    <p>Debes registrarte o iniciar sesión, si ya tienes una cuenta creada, para poder navegar por las diferentes pestañas</p>
    <p>Para poder acceder a la sección de gestión de administración deberás acceder con un usuario que tenga asignado el rol de Admin</p>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
